version: "3.9"

services:
  api:
    build:
      context: ./API
    container_name: avisos_api
    ports:
      - "5000:80"
    volumes:
      - ./db:/app/db
    environment:
      - ASPNETCORE_ENVIRONMENT=Production

  frontend:
    build:
      context: ./frontend
    container_name: avisos_front
    ports:
      - "5173:80"
    depends_on:
      - api
